:root {
    --primary-color: #ff9854;
    --line-color: #faf8f9;
    /* 颜色渐变 */
    --theme-liner-gradient: linear-gradient(90deg, #fa8c1d, #fcaf3f);

    /* 全局修改search样式 */
    --van-search-left-icon-color: var(--primary-color) !important;
    --van-tabs-bottom-bar-color: var(--primary-color) !important;
}

body {
    font-size: 14px;
    background-color: #f7f8fb;
}